[Unit]
Description=Fix microphone mute LED

[Service]
Type=oneshot
ExecStartPre=sleep 5
ExecStart=/usr/bin/pamixer --default-source -t
ExecStartPost=/usr/bin/pamixer --default-source --unmute

[Install]
WantedBy=default.target
